:root {
    --size-font: 1vw;
    --color-font: #333;
    --color-pink: #FFDABB;
    --color-green: #495E57;
    --color-white: #FFF;
    --color-salmon: #EE9972;
    --color-grey: #EDEFEE;
    --padding: 1vw;
    --margin: calc(var(--padding) * 2);
    --content: flex-start;
    --width: 100%;
    --height: 100%
}

html {
    color: var(--color-font);
    font-size: calc(var(--size-font) * 2);
    font-family: 'Helvetica Neue LT Std';
    border-radius: var(--size-font);
    height: var(--height);
}

button {
    font-size: calc(var(--size-font) * 3);
    display: inline-block;
    background-color: var(--color-green);
    border: none calc(var(--size-font) * 3);
    color: var(--color-white);
}

    button > a {
        color: inherit;
        text-decoration: none;
    }

img {
    border-radius: inherit;
}