.card {
    display: block;
    flex: 0 0 12em;
    background-color: var(--color-salmon);
    padding: var(--padding);
    margin: var(--margin);
    border-radius: var(--size-font);
}

img {
    width: var(--width);
}

h4, h5, p {
    padding: calc(var(--padding) * 0.25) calc(var(--padding) * 0);
    margin: calc(var(--margin) * 0.25) calc(var(--margin) * 0);
}