footer {
    background-color: var(--color-grey);
}

.footer-container {
    display: flex;
    flex-direction: row;
}
    .footer-container .footer-logo {
        width: calc(var(--size-font) * 10);
        padding: var(--padding);
        margin: var(--margin);
    }

    .footer-container ul {
        display: block;
    }

    .footer-container ul li a {
        font-size: calc(var(--size-font) * 2);
    }
