footer {
    background-color: peachpuff;
}

.footer-logo {
    width: 10%;
    height: 90%;
    padding: 5px;
    margin: 10px;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.footer-container ul {
    display: block;
}

    .footer-container ul li {
        padding: 0px;
        margin: 0px;
    }

    .footer-container ul li a {
        font-size: 2vw;
    }
