.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: var(--content);
    align-content: var(--content);
}

    .flex div {
        display: block;
        width: calc(var(--width) / 2.2)
    }

.type1  {
    background-color: var(--color-white);
}

.type2 {
    background-color: var(--color-pink);
}

.flex.specials, .flex-testimonials {
    padding: var(--padding);
    margin: var(--margin);
}

h1 {
    display: inline-block;
    font-size: calc(var(--size-font) * 4);
    color: var(--color-green);
}

h2 {
    display: inline-block;
    font-size: calc(var(--size-font) * 3);
}

h3 {
    font-size: calc(var(--size-font) * 2.5);
}

p {
    font-size: calc(var(--size-font) * 2);
}

.title-card {
    height: calc(var(--size-font) * 8);

}
    .title-card h2 {
        float: left;
    }

    .title-card button, .image img {
        float: right;
    }

.info, .title-card {
    padding: 0 var(--padding);
    margin: 0 var(--margin);
}
.image img {
    display: block;
    position: relative;
    width: calc(var(--width) / 2);
    padding: var(--padding);
    margin: var(--margin);
}
