body {
    color: #333;
    font-family: 'Helvetica Neue LT Std';
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.flex div {
    display: "block";
    width: 50%;
}

.specials, .about  {
    background-color: #FFDABB;
}

.hero, .testimonials {
    background-color: #FFF;
}

h1 {
    display: "inline-block";
    font-size: 4vw;
    padding: 5px;
    margin: 10px;
    color: #495E57;
}

h2 {
    display: "inline-block";
    font-size: 3vw;
    padding: 5px;
    margin: 10px;
}

.title-card {
    height: 8vw;
}

.title-card h2 {
    float: left;
}

.flex div h3 {
    font-size: 2vw;
    padding: 5px;
    margin: 10px;
}

.flex .info p {
    font-size: 1vw;
    padding: 5px;
    margin: 10px;
}

.img-details {
    border-radius: 16px;
}

.image img {
    display: block;
    position: relative;
    float: right;
    width: 50%;
    padding: 5px;
    margin: 10px;
}

button {
    padding: 5px;
    margin: 10px;
    font-size: 1.5vw;
    display: inline-block;
    background-color: #495E57;
    border-radius: 16px;
    color: #FFFFFF;
}

button > a {
    color: #FFFFFF;
    text-decoration: none;
}