nav {
    height: calc(var(--size-font) * 6);
    background-color: var(--color-grey);
    color: var(--color-green);
    position: relative;
    width: 100%;
}
    nav .nav-container {
        margin: 0 var(--margin);
        padding: 0 var(--padding);
        background-color: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--height);
    }

picture.logo img {
    height: calc(var(--size-font) * 4);
}

.menu-icon {
    display: none;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: var(--margin);
    padding: var(--padding);
}

    ul li {
        padding: var(--padding);
    }

        ul li a {
            text-decoration: none;
            color: inherit;
        }

            ul li a.active {
                font-weight: 1000;
                text-decoration: none;
            }

@media (max-width: 600px) {
    nav {
        height: calc(var(--size-font) * 12);
    }

    picture.logo img {
        height: calc(var(--size-font) * 10);
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: calc(var(--size-font) * 12);
        background-color: inherit;
        width: 0px;
        height: 100vh;
        transition: all 0.3s ease-in;
        overflow: hidden;
        z-index: 100;
        padding: 0px;
        margin: 0px;
    }

        .nav-links.active {
            width: calc(var(--width) / 2.5);
        }

        .nav-links ul {
            display: flex;
            flex-direction: column;
        }
            .nav-links ul li {
                margin-top: var(--margin);
            }
                      
            ul li a {
                font-size: calc(var(--size-font) * 4);
            }
}