.form-container {
    padding: var(--padding);
    margin: var(--margin);
}
    .form-container form {
        display: flex;
        flex-direction: column;
    }

        form div.flex-form {
            display: flex;
            flex-direction: row;
        }
        
        form div.form {
            display: flex;
            flex-direction: column;
            padding: var(--padding);
            margin: var(--margin);
            width: calc(var(--width) * 0.4);
        }

.input {
    display: block;
    padding: var(--padding) calc(var(--padding) * 0);
    margin: var(--margin) calc(var(--margin) * 0);
    font-size: inherit;
    border-radius: var(--size-font);
    border: calc(var(--size-font) / 4) solid var(--color-green);
}

.selected {
    background-color: var(--color-yellow);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span {
    color: var(--color-salmon);
    font-style: italic;
}